.App {
  background-color: #5f6064;
  min-height: 100vh;
  height: 100%;
  color: white;
}

.App-header {
  margin: 0;
  padding: 20px;
  list-style: none;
  background-color: #3b3d42;
}

.link {
  padding: 5px;
  background-color: #5f6064;
  text-decoration: none;
  color: white;
}

.link:hover {
  background-color: #46474b;
}